# vim: set foldmethod=marker foldlevel=0:

# ------------------------------------------------------------------------------
# Core {{{

[include]
  path = ~/.gitconfig.local

[core]
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=2 -RFX
  editor = nvim

[user]
  useConfigOnly = true

[commit]
  verbose = true

[push]
  default = simple
  followTags = true

[pull]
  rebase = true

[credential]
  helper = osxkeychain

# }}}
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Merges and diffs {{{

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool]
  prompt = true

[merge]
  tool = vimdiff

[difftool]
  prompt = false

[diff]
  tool = vimdiff

# }}}
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Aliases {{{

[alias]
  ua = reset HEAD
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  co = checkout
  d = diff
  s = status -sb
  l = log --graph --pretty=format:'%C(green bold)%h %C(blue)- %an, %ar%Creset%x09- %Creset%s %C(blue)%d'
  ll = log --stat --abbrev-commit
  my = !git log --branches=* --no-merges --pretty=format:'%C(yellow bold)%h %Cblue%ad%Cgreen%d %Creset%s' --date=short --author=\"$(git config user.name)\"

  reset-hard = reset --hard HEAD
  clean4realz = clean -f

# }}}
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Colors {{{

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto

[color "branch"]
  current = green bold
  local = green
  remote = yellow

[color "diff"]
  frag = magenta
  meta = yellow
  new = green
  old = red

[color "status"]
  added = green reverse
  changed = yellow reverse
  untracked = red reverse

# }}}
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Git LFS {{{

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

# }}}
# ------------------------------------------------------------------------------
