# --------------------------------------------------------------------------------------------------
# We'll start by ignore everything
/*

# Allow folders
!/alacritty
!/bin
!/compton
!/dunst
!/fontconfig
!/gdb
!/ghostty
!/git
!/i2
!/iterm
!/npm
!/nvim
!/rofi
!/stylelint
!/terminfo
!/tmux
!/vim
!/xorg
!/zsh

# Allow files
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.gitmodules
!/clean.sed
!/LICENSE
!/README.md

# --------------------------------------------------------------------------------------------------
# And now ignoring some stuff again

# Vim shit
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


# Secretz
/smudge.sed

# Vim plugins
/nvim/plugged
/nvim/autoload/plug.vim
/nvim/plugin/packer_compiled.lua

# Tmux plugins
/tmux/plugged

# Zsh plugins
/zsh/.zinit/*
!/zsh/.zinit/bin
/zsh/.zcompdump
/zsh/.zcompcache
/zsh/.zsh_history
/zsh/.zsh_sessions
