"*":

    # --------------------------------------------- #
    # | Packages
    # --------------------------------------------- #
    "atom-beautify": {}
    "autoclose-html": {}
    "autocomplete-plus": {}
    "editor":
        backUpBeforeSaving: true
        invisibles: {}
        scrollPastEnd: true
        showIndentGuide: true
        tabLength: 4
        tabType: "soft"
    "highlight-selected": {}
    "minimap": {}
    "open-terminal-here":
        command: "open -a iTerm.app \"$PWD\""

    # --------------------------------------------- #
    # | Core packages options
    # --------------------------------------------- #
    "tree-view":
        hideIgnoredNames: true
    "welcome":
        showOnStartup: false

    # --------------------------------------------- #
    # | Themes
    # --------------------------------------------- #
    "core":
        themes: [
            "seti-ui-beta"
            "seti-syntax"
        ]
