"*":

    # --------------------------------------------- #
    # | Packages
    # --------------------------------------------- #
    "base16-syntax":
        scheme: "Atelier Lakeside"
    "open-terminal-here":
        command: "open -a iTerm.app \"$PWD\""

    # --------------------------------------------- #
    # | Core packages options
    # --------------------------------------------- #
    "editor":
        backUpBeforeSaving: true
        fontFamily: "Hack"
        scrollPastEnd: true
        showIndentGuide: true
        tabLength: 4
        tabType: "soft"
    "tree-view":
        hideIgnoredNames: true
    "welcome":
        showOnStartup: false

    # --------------------------------------------- #
    # | Themes
    # --------------------------------------------- #
    "core":
        themes: [
            "seti-ui-beta"
            "base16-syntax"
        ]
