packages: [
  "atom-beautify"
  "autoclose-html"
  "autocomplete-html-entities"
  "editorconfig"
  "highlight-selected"
  "minimap"
  "open-terminal-here"
  "package-sync"
  "seti-syntax"
  "seti-ui"
  "seti-ui-beta"
  "todo-show"
]
