/* Atom's Stylesheet */

/* Change the folders color to something more colorful */
.list-group .icon.icon-file-directory::before,
.list-tree .icon.icon-file-directory::before {
    color: #98985D;
}

/* Ohh yay animations */
.tree-view {
    .entry.expanded > .entries {
        -webkit-animation: tree-view-expanded 400ms cubic-bezier(.15,.7,.3, 1);
    }

    @-webkit-keyframes tree-view-expanded {
        0% { opacity: 0; transform: translate(-10px, -10px) scale(1.1, 1.1); }
        100% { opacity: 1; transform: translate(0, 0) scale(1, 1); }
    }
}
