snippet iife
(function () {
  $1
})();
endsnippet

snippet log "cosole.log"
console.log($1);
endsnippet

snippet edl "eslint disable line"
// eslint-disable-line
endsnippet

snippet edn "eslint disable next line"
// eslint-disable-next-line
endsnippet

snippet imp "import default" b
import $1 from '$2';
endsnippet

snippet imd "destructuring import" b
import { $1 } from '$2';
endsnippet

snippet ima "import as" b
import * as $1 from '$2'
endsnippet
