extends markdown

snippet dvdr "Section divider" b
----------------------------------------------------------------------------------------------------
endsnippet

snippet fmr "Front-matter" b
# Some title

  > ${1:A small, short description}

  **Date:** 2018-01-09
  **Status:** Finished
  **Progress:** 82 / 100

  - [A link to some place](.)
  - [Another link](.)
endsnippet
