snippet rgb "rgb value"
rgb($1, $2, $3)
endsnippet

snippet rgba "rgba value"
rgb($1, $2, $3, $4)
endsnippet

snippet hsl "hsl value"
hsl($1, $2, $3)
endsnippet

snippet hsla "hsla value"
hsla($1, $2, $3, $4)
endsnippet
