"*":
  "atom-beautify": {}
  "autoclose-html": {}
  "autocomplete-plus": {}

  core:
    themes: [
      "seti-ui-beta"
      "seti-syntax"
    ]

  editor:
    backUpBeforeSaving: true
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"

  "exception-reporting": {}
  "highlight-selected": {}

  minimap: {}

  "status-bar": {}
  "terminal-plus":
    core: {}
    style:
      animationSpeed: 0
    toggles:
      autoClose: true

  "tree-view":
    hideIgnoredNames: true

  welcome:
    showOnStartup: false
