"*":

  # --------------------------------------------- #
  # | Packages options
  # --------------------------------------------- #

  "open-terminal-here":
    command: "open -a iTerm.app \"$PWD\""

  "autoclose-html":
    forceInline: ["*"]

  "docblockr":
    extend_double_slash: false

  "linter-stylelint":
    disableWhenNoConfig: true

  "minimap":
    linter: true

  # --------------------------------------------- #
  # | Core packages options
  # --------------------------------------------- #

  "editor":
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 2
    tabType: "soft"

  "tree-view":
    hideIgnoredNames: true

  "welcome":
    showOnStartup: false

  "pigments":
    markerType: "gutter"

  # --------------------------------------------- #
  # | Themes
  # --------------------------------------------- #

  "base16-syntax":
    scheme: "Default"

  "atom-material-ui":
    colors:
      abaseColor:
        red: 95
        green: 100
        blue: 111
        alpha: 1
      accentColor:
        red: 154
        green: 199
        blue: 222
        alpha: 1
      predefinedColor: "Blue Grey"
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true

  # --------------------------------------------- #
  # | Core options
  # --------------------------------------------- #

  "core":
    themes: [
      "atom-material-ui"
      "base16-syntax"
    ]
