"*":

  # --------------------------------------------- #
  # | Packages options
  # --------------------------------------------- #
  "open-terminal-here":
    command: "open -a iTerm.app \"$PWD\""

  "autoclose-html":
    forceInline: ["*"]

  "docblockr":
    extend_double_slash: false

  # --------------------------------------------- #
  # | Core packages options
  # --------------------------------------------- #
  "editor":
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
    tabType: "soft"
    softWrap: true
    softWrapAtPreferredLineLength: false

  "tree-view":
    hideIgnoredNames: true

  "welcome":
    showOnStartup: false

  # --------------------------------------------- #
  # | Themes
  # --------------------------------------------- #
  "base16-syntax":
    scheme: "Tomorrow"

  "atom-material-ui":
    colors:
      abaseColor:
        red: 96
        green: 125
        blue: 139
        alpha: 1
      predefinedColor: "Blue Grey"
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true

  # --------------------------------------------- #
  # | Core options
  # --------------------------------------------- #
  "core":
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
