packages: [
  "atom-beautify"
  "atom-material-ui"
  "autoclose-html"
  "autocomplete-emojis"
  "autocomplete-html-entities"
  "autocomplete-json"
  "autocomplete-modules"
  "autocomplete-paths"
  "base16-syntax"
  "docblockr"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "language-javascript-jsx"
  "linter"
  "linter-eslint"
  "linter-stylelint"
  "linter-xo"
  "minimap"
  "minimap-highlight-selected"
  "minimap-linter"
  "nucleus-dark-ui"
  "open-terminal-here"
  "package-sync"
  "todo-show"
]
